// Core variables and mixins
@icon-font-path: 'lib/bootstrap-enyo/bootstrap/fonts/';
.form-section-header {
  margin-top: 10px;
  font-size: 11px;
  font-weight: 700;
  color: #959595;
  background: #f5f5f5;
  padding-top: 6px;
  padding-bottom: 6px;
  text-transform: uppercase;
  letter-spacing: 1px;
  &.primary {
    background: #428bca;
    color: #ffffff;
  }
  &.success {
    background: #47a447;
    color: #ffffff
  }
  &.info {
    background: #5bc0de;
    color: #ffffff
  }
  &.warning {
    background: #f0ad4e;
    color: #ffffff
  }
  &.danger {
    background: #d9534f;
    color: #ffffff;
  }
  +.form-section-header {
    margin-top: -10px;
  }
}

.notification-bar {
  z-index: 1040;
  position: relative;
  margin: 0px;
  text-align: center;
  &.top,
  &.bottom {
    width: 100%;
    border-radius: 0px;
  }
  &.top {
    top: 0px;
  }
  &.bottom {
    bottom: 0px;
  }
}

.nav-list > li {

  @caret-size: ceil(@caret-width-base * 1.5);

  > label {
    position: relative;

    width: 100%;
    padding: @nav-link-padding;

    color: @link-color;
    font-weight: normal;

    &:hover {
      background: @nav-link-hover-bg;
      color: @link-hover-color;
    }

    &:after {
      position: absolute;
      top: 50%;
      right: ceil(@caret-size / 2);

      content: "";
      display: inline-block;
      height: 0; width: 0;
      margin-top: -1 * @caret-size;

      border: @caret-size solid transparent;
      border-right-color: inherit;
    }
  }

  &.open > label:after {
    right: 0;
    margin-top:  -0.5 * @caret-size;
    border-right-color: transparent;
    border-top-color: inherit;
  }
}

.tree > li {
  position: relative;

  > a:before {
    position: absolute;
    top: -50%;
    left: 5px;

    content: "";
    display: block;
    height: 100%;
    width: 7px;
    box-sizing: border-box;

    border-width: 0 0 1px 1px;
    border-style: solid;
    border-color: #d5d5d5;
  }

  &:first-of-type > a:before {
    top: -30%;
    height: 80%;
  }
}
